@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box; }

p, h1, h2 {
  margin: 0; }

body {
  background: white;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 0;
  color: white; }

.wrapContainer {
  margin: 25px auto;
  max-width: 1170px;
  min-height: 80vh;
  background-color: #444753;
  border-radius: 5px;
  display: flex; }
  .wrapContainer .propertyList {
    width: 25%; }
    .wrapContainer .propertyList .propertyListHeader {
      padding: 25px 25px 20px; }
      .wrapContainer .propertyList .propertyListHeader .titleHead {
        margin-left: 10px;
        font-weight: bold;
        font-size: 24px;
        text-shadow: 0 0 5px #d0d0d0; }
    .wrapContainer .propertyList .listContainer {
      padding: 20px;
      border-top: 2px solid rgba(96, 96, 96, 0.6); }
      .wrapContainer .propertyList .listContainer .itemProperty {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        border-bottom: 1px solid rgba(96, 96, 96, 0.6); }
        .wrapContainer .propertyList .listContainer .itemProperty:hover img {
          margin-right: 0;
          transition: .75s; }
        .wrapContainer .propertyList .listContainer .itemProperty:before, .wrapContainer .propertyList .listContainer .itemProperty:after {
          position: absolute;
          content: '';
          width: 0;
          height: 1px;
          bottom: -1px;
          background-color: #f78c65; }
        .wrapContainer .propertyList .listContainer .itemProperty:before {
          left: 0; }
        .wrapContainer .propertyList .listContainer .itemProperty:after {
          right: 0; }
        .wrapContainer .propertyList .listContainer .itemProperty:hover:before, .wrapContainer .propertyList .listContainer .itemProperty:hover:after {
          transition: 1s;
          width: 40%; }
        .wrapContainer .propertyList .listContainer .itemProperty:active {
          transition: .2s;
          border-bottom: 1px solid #75c157; }
        .wrapContainer .propertyList .listContainer .itemProperty .about {
          display: flex;
          flex-direction: column; }
          .wrapContainer .propertyList .listContainer .itemProperty .about .name {
            font-size: 16px; }
            .wrapContainer .propertyList .listContainer .itemProperty .about .name:hover {
              color: #d0d0d0; }
          .wrapContainer .propertyList .listContainer .itemProperty .about .status {
            font-size: 12px;
            color: #92959E; }
        .wrapContainer .propertyList .listContainer .itemProperty img {
          width: 30px;
          height: 30px;
          margin-right: 5px; }
      .wrapContainer .propertyList .listContainer .toggled {
        background-color: #2f70e1;
        color: #fff; }
  .wrapContainer .paramsList {
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: #f2f2f2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651; }
    .wrapContainer .paramsList .paramsListHeader {
      display: flex;
      justify-content: space-between;
      padding: 15px;
      border-top-right-radius: 5px;
      border-bottom: 1px solid rgba(184, 184, 184, 0.5);
      background-color: #d0d0d0;
      box-shadow: inset 0 -5px 20px rgba(184, 184, 184, 0.5); }
      .wrapContainer .paramsList .paramsListHeader .paramsAbout {
        margin-left: 10px; }
        .wrapContainer .paramsList .paramsListHeader .paramsAbout .titleHeader {
          font-weight: bold;
          font-size: 24px; }
        .wrapContainer .paramsList .paramsListHeader .paramsAbout .subTitle {
          color: #92959E;
          font-size: 15px; }
      .wrapContainer .paramsList .paramsListHeader .paramsQuantity {
        display: flex; }
        .wrapContainer .paramsList .paramsListHeader .paramsQuantity .titleProperty {
          color: #92959E;
          font-size: 16px;
          margin: auto; }
          .wrapContainer .paramsList .paramsListHeader .paramsQuantity .titleProperty .quantity {
            color: #444753;
            font-size: 17px;
            text-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
            margin: 0 5px; }
    .wrapContainer .paramsList .itemsList {
      border-top: 2px solid white;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .wrapContainer .paramsList .itemsList .selectItem {
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 0 15px; }
        .wrapContainer .paramsList .itemsList .selectItem .funcBtn {
          text-align: center; }
          .wrapContainer .paramsList .itemsList .selectItem .funcBtn .btn {
            display: inline-block;
            margin: 0;
            padding: 5px 70px;
            font: 700 18px/1.5 'entypo', sans-serif;
            border: 1px solid #444753;
            border-radius: 5px;
            text-decoration: none;
            background-color: rgba(250, 250, 255, 0.05);
            color: gray;
            box-shadow: inset 0 1px 0 0 rgba(250, 250, 255, 0.3); }
            .wrapContainer .paramsList .itemsList .selectItem .funcBtn .btn:hover {
              background-color: rgba(69, 139, 0, 0.05);
              box-shadow: inset 0 0.2em 1em 0 rgba(69, 139, 0, 0.05); }
            .wrapContainer .paramsList .itemsList .selectItem .funcBtn .btn:focus {
              outline: none; }
        .wrapContainer .paramsList .itemsList .selectItem .formHead {
          padding: 15px 0; }
          .wrapContainer .paramsList .itemsList .selectItem .formHead .itemsClear {
            padding: 15px 0; }
        .wrapContainer .paramsList .itemsList .selectItem .formBody {
          height: 450px;
          max-width: 100%;
          overflow: auto; }
          .wrapContainer .paramsList .itemsList .selectItem .formBody .itemForm {
            width: 75%;
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding: 10px;
            margin: 0 auto 15px;
            background-color: rgba(205, 205, 197, 0.4);
            border: 1px solid rgba(184, 184, 184, 0.5);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
            border-radius: 4px; }
            .wrapContainer .paramsList .itemsList .selectItem .formBody .itemForm .wrapSelect {
              border: 1px solid rgba(184, 184, 184, 0.4);
              border-radius: 4px;
              padding: 5px;
              box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
              background-color: rgba(240, 240, 240, 0.4); }
              .wrapContainer .paramsList .itemsList .selectItem .formBody .itemForm .wrapSelect .itemHeader {
                position: relative;
                text-shadow: 0 0 2px rgba(0, 0, 0, 0.3); }
              .wrapContainer .paramsList .itemsList .selectItem .formBody .itemForm .wrapSelect .itemProp {
                padding: 5px;
                display: flex; }
                .wrapContainer .paramsList .itemsList .selectItem .formBody .itemForm .wrapSelect .itemProp .params {
                  display: flex;
                  width: 250px;
                  outline: none; }
                  .wrapContainer .paramsList .itemsList .selectItem .formBody .itemForm .wrapSelect .itemProp .params .prop {
                    border: 1px solid #444753;
                    padding: 0 5px;
                    margin-left: 10px; }
                  .wrapContainer .paramsList .itemsList .selectItem .formBody .itemForm .wrapSelect .itemProp .params:last-child {
                    margin-left: 0; }
            .wrapContainer .paramsList .itemsList .selectItem .formBody .itemForm .wrapBtn {
              padding: 5px 0; }
              .wrapContainer .paramsList .itemsList .selectItem .formBody .itemForm .wrapBtn .btnClose {
                position: relative;
                width: 15px;
                height: 4px;
                cursor: pointer; }
                .wrapContainer .paramsList .itemsList .selectItem .formBody .itemForm .wrapBtn .btnClose:hover .inner:before,
                .wrapContainer .paramsList .itemsList .selectItem .formBody .itemForm .wrapBtn .btnClose:hover .inner:after {
                  background: #CD661D;
                  width: 15px;
                  left: 0;
                  box-shadow: 0 0 10px #f78c65;
                  transform: rotate(0); }
                .wrapContainer .paramsList .itemsList .selectItem .formBody .itemForm .wrapBtn .btnClose:hover .inner:before {
                  top: 0; }
                .wrapContainer .paramsList .itemsList .selectItem .formBody .itemForm .wrapBtn .btnClose:hover .inner:after {
                  bottom: 0; }
                .wrapContainer .paramsList .itemsList .selectItem .formBody .itemForm .wrapBtn .btnClose .inner {
                  width: 15px;
                  height: 20px;
                  text-align: center; }
                  .wrapContainer .paramsList .itemsList .selectItem .formBody .itemForm .wrapBtn .btnClose .inner:before, .wrapContainer .paramsList .itemsList .selectItem .formBody .itemForm .wrapBtn .btnClose .inner:after {
                    position: absolute;
                    content: '';
                    height: 2px;
                    width: inherit;
                    background: #444753;
                    left: 0;
                    transition: all .25s ease-in; }
                  .wrapContainer .paramsList .itemsList .selectItem .formBody .itemForm .wrapBtn .btnClose .inner:before {
                    top: 50%;
                    transform: rotate(45deg); }
                  .wrapContainer .paramsList .itemsList .selectItem .formBody .itemForm .wrapBtn .btnClose .inner:after {
                    bottom: 50%;
                    transform: rotate(-45deg); }
        .wrapContainer .paramsList .itemsList .selectItem .formFooter {
          padding: 15px 0; }
          .wrapContainer .paramsList .itemsList .selectItem .formFooter .itemsSubmit {
            padding: 15px 0; }
