@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$green: rgba(117, 193, 87, 1);
$blue: #94C2ED;
$orange: rgba(247, 140, 101, 1);
$gray: #92959E;
$gray_mid_light: rgba(184, 184, 184, .5);
$gray_s_light: rgba(208, 208, 208, 1);
$bg_app: #444753;
$bg_params: #f2f2f2;

*, *:before, *:after {
  box-sizing: border-box;
}

p, h1, h2 {
  margin: 0;
}

body {
  background: white;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 0;
  color: white;
}

.wrapContainer {
  margin: 25px auto;
  max-width: 1170px;
  min-height: 80vh;
  background-color: $bg_app;
  border-radius: 5px;
  display: flex;
  //______________________________________________________________propertyList__
  .propertyList {
    width: 25%;
    .propertyListHeader {
      padding: 25px 25px 20px;
      .titleHead {
        margin-left: 10px;
        font-weight: bold;
        font-size: 24px;
        text-shadow: 0 0 5px $gray_s_light;
      }
    }
    .listContainer {
      padding: 20px;
      border-top: 2px solid rgba(96, 96, 96, .6);
      .itemProperty {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        border-bottom: 1px solid rgba(96, 96, 96, .6);
        &:hover img {
          margin-right: 0;
          transition: .75s;
        }
        &:before, &:after {
          position: absolute;
          content: '';
          width: 0;
          height: 1px;
          bottom: -1px;
          background-color: $orange;
        }
        &:before {
          left: 0;
        }
        &:after {
          right: 0;
        }
        &:hover:before,
        &:hover:after {
          transition: 1s;
          width: 40%;
        }
        &:active {
          transition: .2s;
          border-bottom: 1px solid $green;
        }
        .about {
          display: flex;
          flex-direction: column;
          .name {
            font-size: 16px;
            &:hover {
              color: $gray_s_light;
            }
          }
          .status {
            font-size: 12px;
            color: $gray;
          }
        }
        img {
          width: 30px;
          height: 30px;
          margin-right: 5px;
        }
      }
      .toggled {
        background-color: #2f70e1;
        color: #fff;
      }
    }
  }
  //_______________________________________________________________________paramsList__
  .paramsList {
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: $bg_params;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
    //_____________________paramsListHeader__
    .paramsListHeader {
      display: flex;
      justify-content: space-between;
      padding: 15px;
      border-top-right-radius: 5px;
      border-bottom: 1px solid $gray_mid_light;
      background-color: $gray_s_light;
      box-shadow: inset 0 -5px 20px $gray_mid_light;
      .paramsAbout {
        margin-left: 10px;
        .titleHeader {
          font-weight: bold;
          font-size: 24px;
        }
        .subTitle {
          color: $gray;
          font-size: 15px;
        }
      }
      .paramsQuantity {
        display: flex;
        .titleProperty {
          color: $gray;
          font-size: 16px;
          margin: auto;
          .quantity {
            color: $bg_app;
            font-size: 17px;
            text-shadow: 0 0 30px rgba(0, 0, 0, .6);
            margin: 0 5px;
          }
        }
      }
    }
    //___________________________itemsList__
    .itemsList {
      border-top: 2px solid white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .selectItem {
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 0 15px;
        .funcBtn {
          text-align: center;
          .btn {
            display: inline-block;
            margin: 0;
            padding: 5px 70px;
            font: 700 18px/1.5 'entypo', sans-serif;
            border: 1px solid $bg_app;
            border-radius: 5px;
            text-decoration: none;
            background-color: rgba(250, 250, 255, .05);
            color: rgba(128, 128, 128, 1);
            box-shadow: inset 0 1px 0 0 rgba(250, 250, 255, .3);
            &:hover {
              background-color: rgba(069, 139, 000, .05);
              box-shadow: inset 0 .20em 1em 0 rgba(069, 139, 000, .05);
            }
            &:focus {
              outline: none;
            }
          }
        }
        .formHead {
          padding: 15px 0;
          .itemsClear {
            padding: 15px 0;
          }
        }
        .formBody {
          height: 450px;
          max-width: 100%;
          overflow: auto;
          .itemForm {
            width: 75%;
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding: 10px;
            margin: 0 auto 15px;
            background-color: rgba(205, 205, 197, .4);
            border: 1px solid rgba(184, 184, 184, .5);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            .wrapSelect {
              border: 1px solid rgba(184, 184, 184, .4);
              border-radius: 4px;
              padding: 5px;
              box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
              background-color: rgba(240, 240, 240, .4);
              .itemHeader {
                position: relative;
                text-shadow: 0 0 2px rgba(0, 0, 0, .3);
              }
              .itemProp {
                padding: 5px;
                display: flex;
                .params {
                  display: flex;
                  width: 250px;
                  outline: none;
                  .prop {
                    border: 1px solid #444753;
                    padding: 0 5px;
                    margin-left: 10px;
                  }
                  &:last-child {
                    margin-left: 0;
                  }
                }
              }
            }
            .wrapBtn {
              padding: 5px 0;
              .btnClose {
                position: relative;
                width: 15px;
                height: 4px;
                cursor: pointer;
                &:hover .inner:before,
                &:hover .inner:after {
                  background: #CD661D;
                  width: 15px;
                  left: 0;
                  box-shadow: 0 0 10px $orange;
                  transform: rotate(0);
                }
                &:hover .inner:before {
                  top: 0;
                }
                &:hover .inner:after {
                  bottom: 0;
                }
                .inner {
                  width: 15px;
                  height: 20px;
                  text-align: center;
                  &:before, &:after {
                    position: absolute;
                    content: '';
                    height: 2px;
                    width: inherit;
                    background: $bg_app;
                    left: 0;
                    transition: all .25s ease-in;
                  }
                  &:before {
                    top: 50%;
                    transform: rotate(45deg);
                  }
                  &:after {
                    bottom: 50%;
                    transform: rotate(-45deg);
                  }
                }
              }
            }
          }
        }
        .formFooter {
          padding: 15px 0;
          .itemsSubmit {
            padding: 15px 0;
          }
        }
      }
    }
  }
}



